.playingBoard {
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(6, auto);
    width: 800px;
    background-color: black;
    position: center;
    margin-left: 500px;
    margin-top: 50px;
    justify-content: center;
}

.circle {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-shadow: 1px 1px 1px black;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 5px 5px 5px 5px;
  }

  .circle:hover {
      background-color: grey;
  }

.moving {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red; 
}

  .fall {
      animation-name: fall-animation;
      animation-duration: 500ms;
  }

  @keyframes fall-animation {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }    
  }

  #buttons {
      width: 500px;
      justify-content: center;
      position: absolute;
      margin: 0 auto;
  }
  
  #player {
    margin-left: 770px;  
    margin-top: 50px;
      background-color: lightgreen;
      font-family: sans-serif;
      border: 2px solid transparent;
      font-size: 1rem;
      text-align: center;
      box-sizing: border-box;
      padding: 15px 25px;
  }

  #computer {
    margin-top: 50px;
    background-color: lightgreen;
    font-family: sans-serif;
    border: 2px solid transparent;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 25px;
}

  #restart {
    margin-left: 840px;
    margin-top: 50px;
    background-color: red;
    font-family: sans-serif;
    display: block;
    border: 2px solid transparent;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 25px;
}